@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50;
}
